.bigTitle {
    color: black;
    font-size: calc(2.5em + 1vw);
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 0;
    margin-top: 50px;
    letter-spacing: 0;
    text-align: center;

}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&family=Libre+Baskerville:wght@700&display=swap');

@media screen and (max-width: 320px){
    .bigTitle{
       
    
        font-size: calc(2.5em + 1vw);

     
    }
}
    