.letter-intro{
  width: 80%;
}

.letter-intro p{
  margin: 0;
  line-height: 25px;
  text-align: left;
  margin-bottom: 10px;
  white-space: pre-line
}

a {
  text-decoration: underline;
}

.gen-body .spot-sub-headings{
  font-size: 2.4rem;
}

.letter-intro .letter-date{
  font-size: 4rem;
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    font-weight: 700;
    font-style: bold;
    color: black;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}

.letter-intro .top-date{
  width: 100%;
  height: auto;
  text-align: left;
  align-self: left;
  justify-content: left;
  display: flex;
  color: blue;
  font-size: 1.7rem;
}

.img-logo img{
  width:600px;
  height: auto;
}

.img-logo{
  width: 83%;
}

.letter-weekly{
  width: 80%;
}

.letter-weekly h1{
  font-size: 3rem;
  letter-spacing: normal;
  font-weight: 700;
  font-style: bold;
  color: black;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 50px;
}

.letter-weekly p{
  margin: 0;
  line-height: 25px;
  text-align: left;
  margin-bottom: 10px;
}

.weekly-image img{
  width: 400px;
  max-height: auto;
  border-radius:  20px;
}

.weekly-image{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 20px;
  align-items: left;
}

.weekly-spot span{
  color: black;
  border: 2px solid rgb(0, 0, 0);
  font-size: 2.0rem;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 30px;
  padding: 20px;
  width: fit-content;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: left;
}

.weekly-spot{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.weekly-spot h5{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color:  rgb(138, 88, 253);
  width: fit-content;
}

.weekly-line-break{
   background-color:#000000;
    text-align:left;
    color:#ffffff;
    height: 1px;
    width: 100%;
    margin-top: 40px;
    margin-left: 0%;
    margin-right: 20%;

}

.gen-cont{
    margin-top: 5%;
    display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  
}

.gen-body{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    width: 100%;
    
}

.addelm{
  width: 80%;
}

.addelm-row{
  flex-direction: row;
  display: flex;
}

.addelm h1{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    font-weight: 700;
    font-style: bold;
    color: black;
    text-decoration: underline;

}

.addelm-row .emoji{
  text-decoration: none;
}

.addelm h2{
  color:blue;
  font-size: 1.9rem;
  text-decoration: underline;
  font-style: normal;
  margin: 0;
}

.addelm h3{
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.addelm a{
  width: fit-content;
}

.addelm h5{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color:  rgb(138, 88, 253);
    width: fit-content;
}

.addelm h4{
  color: black;
  border: 2px solid rgb(0, 0, 0);
  font-size: 1.0rem;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px;
  width: fit-content;
  box-shadow: 0 3px 70px rgb(0 0 0 / 0.2);
  font-style: normal;
  font-weight: 500;
  
}


.addelm h6{
  font-size: 3rem;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

}

.addelm p{
  margin: 0;
  margin-bottom: 20px;
  line-height: 25px;
}

.obj{
  margin-bottom: 75px;
  text-align: left;
  width: 100%;
}

.obj-row{
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: right;
}

.line-break{
  display:block;
    background-color:#000000;
    text-align:left;
    color:#ffffff;
    height: 1px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 33%;
}

.keyword{
  font-size: 1rem;
}

@media screen and (max-width: 950px) {
  .dropzone{
    width: 300px;
  }

  .addelm h1{
    font-size: 2rem;
    text-align: left;
  }

  .addelm h2{
    font-size: 1.5rem;
    text-align: left;
  }

  .addelm h3{
    font-size: 1rem;
  }

  .addelm h4{
    font-size: 1rem;
  }

  .addelm h5{
    font-size: 1rem;
    text-align: left;
    width: 100%;
  }
  
  .obj-row{
    justify-content:left;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .addelm p{
    text-align: left;
  }

  .keyword{
    text-align: left;
  }

  .letter-intro .letter-date{
    font-size: 2.5rem;
    position: relative;
    left: 0px;
  }

  .letter-intro{
    margin-top: 0px;
  }

  p{
    font-size: 0.9rem;
  }

.weekly-spot span{
  font-size: 1.8rem;
}

.letter-weekly h1{
  font-size: 2.2rem;
}

.weekly-spot h5{
  font-size: 1.2rem;
}

.img-logo img{
  width: 400px;
}

.img-logo{
  margin-top: 50px;
}

.letter-intro .top-date{
  font-size: 1.2rem;
}

  
}

@media screen and (max-width: 500px) {
  .dropzone{
    width: 300px;
  }

  .addelm h1{
    font-size: 1.8rem;
    
  }

  .addelm h2{
    font-size: 1.3rem;
    
  }

  .addelm h3{
    font-size: 0.9rem;
  }

  .addelm h4{
    font-size: 0.9rem;
  }

  .addelm h5{
    font-size: 0.9rem;
  }

  .letter-intro .letter-date{
    font-size: 2rem;
    position: relative;
    left: 0px;
  }

  .letter-intro{
    margin-top: 10px;
  }

  p{
    font-size: 0.9rem;
  }

  .weekly-spot span{
    font-size: 1.5rem;
  }

  .letter-weekly h1{
    font-size: 1.9rem;
  }

  .weekly-spot h5{
    font-size: 1rem;
  }

  .weekly-image img{
    width: auto;
    height: 300px;
    border-radius:  20px;
  }
 
  .obj-row{
    flex-direction: column;

  }

  .img-logo img{
    width: 300px;
  }
  

  
}

